:root {
  /***  */
  --shuttlegray: #5E697A;
  --chenin: #E6DD77;
  /***  */
  --cloudburst: #232E53;
  --starship: #E3F149;
  /***  */
  --martinique: ##32364B;
  --pomegranate: #F53F1A;
  /***  */
  --gunpowder: #46485C;
  --manhattan: #F6C59C;
  /***  */
  --pigeonpost: #B7C2DE;
  --torchred: #F91B1B;
  /***  */
  --mystic: #DDE4EC;
  --junglegreen: #2BA393;
  /***  */
  --bluebayoux: #556978;
  --kournikova: #FEEA6C;
  /***  */
  --goldenfizz: #FBFB45;
  --martinique: #2A274D;
  /***  */
  --careyspink: #CD9AAC;
  --dolly: #F9FF8F;
  /***  */
  --vanillaice: #F4D7E4;
  --keppel: #3C9C93;
  /*** Tennis Elbow */
  --deyork: #79CB8C;
  --goldenglow: #FEEB8B;
  /***  */
  --portgore: #292558;
  --redorange: #FC3235;
  /***  */
  --satinlinen: #E7E7D8;
  --downy: #65CBA7;
  /***  */
  --bonjour: #E1DADB;
  --viridiangreen: #62887F;
  /***  */
  --sunglo: #E46969;
  --westar: #DDD7D0;
  /***  */
  --redorange: #F8363C;
  --martinique: #2E334B;
  /***  */
  --frenchgray: #C1BFCA;
  --scarlet: #E11802;
  /***  */
  --chestnutrose: #D16D5D;
  --confetti: #E5E365;
  /***  */
  --redorange: #FE4935;
  --tana: #D3DDC4;
  /***  */
  --westar: #E5E1DB;
  --tradewind: #4CB2A4;
  /***  */
  --swisscoffee: #E0D7D4;
  --: #5980B6;
  /*** Dry Heat */
  --texas: #F7F591;
  --chestnutrose: #D26754;
  /***  */
  --silverrust: #CFC8C4;
  --christine: #E95E0D;
  /*  */
  --ghost: #C7C5D5;
  --pomegranate: #F94922;
  /*  */
  --shuttlegray: #586875;
  --candycorn: #FDF25B;
  /*  */
  --charade: #2F3440;
  --Emerald: #5AC690;
  /*  */
  --swisscoffee: #E1DBD9;
  --scarlet: #F21404;
  /*  */
  --robroy: #ECD26C;
  --shipgray: #403645;
  /*  */
  -energyyellow: #F9E356;
  --breakerbay: #69A1A5;
  /*  */
  --gunpowder: #48445B;
  --fountainblue: #61C1A9;
  /*  */
  --gunpowder: #474454;
  --deyork: #7DCA7D;
  /*  */
  --marzipan: #F5DC90;
  --keppel: #43B790;
  /*  */
  --grannysmithapple: #82D995;
  --torchred: #FB1F22;
  /*  */
  --pickledbluewood: #34425C;
  --roman: #DD615F;
  /*  */
  --whiterock: #EBE7D4;
  --torchred: #F90223;
  /*  */
  --apricotpeach: #FCC8A8;
  --wedgewood: #5A7CAD;
  /*  */
  --laserlemon: #EEFE71;
  --dulllavender: #A68CE4;
  /*  */
  --ebonyclay: #282A46;
  --goldensand: #F4E570;
  /*  */
  --gumleaf: #ACD6B9;
  --pomegranate: #F03A11;
  /*  */
  --oceangreen: #48A985;
  --manhattan: #F1BD91;
  /*  */
  --cashmere: #E8BDA0;
  --ebonyclay: #2C323F;
  /*  */
  --algaegreen: #85DBB4;
  --pomegranate: #F75422;
  /*  */
  --vistablue: #89D7B5;
  --palesky: #687987;
  /*  */
  --tuna: #373844;
  --patina: #659F86;
  /*  */
  --swisscoffee: #DCD6D4;
  --mountainmeadow: #16A48F;
  /*  */
  --niagara: #04B08E;
  --graynurse: #E2E7E2;
  /*  */
  --comet: #596176;
  --cameo: #DCA9A1;
  /*  */
  --swisscoffee: #DDD2D5;
  --tradewind: #55A9A4;
  /*  */
  --sanmarino: #4B6EBA;
  --wafer: #E1CACD;
  /*  */
  --martinique: #403B5E;
  --deyork: #7BCD80;
  /*  */
  --rosebud: #F9B9A2;
  --cuttysark: #568781;
  /*  */
  --cloudburst: #232C50;
  --pancho: #EDC9A4;
  /*  */
  --swisscoffee: #DBD4D3;
  --martinique: #322F4A;
  /*  */
  --apricotpeach: #FAC0AD;
  --niagara: #0EA88C;
  /*  */
  --pearlbush: #ECE7DD;
  --wildblueyonder: #7C8CB1;
  /*  */
  --periwinklegray: #BBC1E7;
  --sunsetorange: #FA4643;
  /*  */
  --pinkflamingo: #FC63FA;
  --rhino: #30405E;
  /*  */
  --acapulco: #75A994;
  --peachyellow: #F9D8AB;
  /*  */
  --perfume: #B5B2F9;
  --gunpowder: #44465F;
  /*  */
  --flax: #EBE180;
  --moodyblue: #6C6FD6;
  /*  */
  --slategray: #687D8D;
  --goldensand: #F4DE6F;
  /*  */
  --gunpowder: #3D3D51;
  --viola: #D09AB9;
  /*  */
  --mountainmeadow: #1CAD95;
  --marigoldyellow: #FDE676;
  /*  */
  --mossgreen: #A4D5B9;
  --gunpowder: #413B52;
  /*  */
  --martinique: #2D2954;
  --calico: #E5C499;
  /*  */
  --bone: #E7DBCB;
  --comet: #4F516B;
  /*  */
  --hippieblue: #5297AA;
  --almond: #F1DBD2;
  /*  */
  --cupid: #FABBD2;
  --persianblue: #212EB9;
  /*  */
  --smoky: #5F5B7A;
  --goldsand: #E6B296;
  /*  */
  --malibu: #77DaFF;
  --blue: #1115FE;
  /*  */
  --cornflowerblue: #6A79FB;
  --monza: #D8030D;
  /*  */
  --blueromance: #D1F8CE;
  --lavender: #DC6CE4;
  /*  */
  --jaggedice: #BAE4E0;
  --froly: #F26E9E;
  /*  */
  --putty: #EAC998;
  --chateaugreen: #3DAE66;
  /*  */
  --pickledbluewood: #2E3750;
  --malibu: #6CE4F7;
  /*  */
  --givry: #F8E7C4;
  --mountbattenpink: #9A7586;
  /*  */
  --carnation: #F34450;
  --sulu: #95F48E;
  /*  */
  --riptide: #84E2C9;
  --coraltree: #A36D6A;
  /*  */
  --sandal: #AE8B73;
  --conch: #D4DDD9;
  /*  */
  --java: #1EB5B5;
  --starship: #EDF54D;
  /*  */
  --mintjulep: #F0EABF;
  --emerald: #48C563;
  /*  */
  --viola: #CA8DA9;
  --whiterock: #EAE5D3;
  /*  */
  --smaltblue: #558297;
  --cottoncandy: #FDB7DC;
  /*  */
  --caribbeangreen: #06CAA6;
  --gossip: #DAF9B4;
  /*  */
  --astronaut: #29336B;
  --madang: #B9EFB2;
  /*  */
  --limedspruce: #384348;
  --melon: #FEB7A5;
  /*  */
  --olivine: #87B26E;
  --fallgreen: #E6EDC3;
  /*  */
  --gossip: #D5F89B;
  --mediumpurple: #7576DF;
  /*  */
  --lochinvar: #27878C;
  --frenchlilac: #DCD1F0;
  /*  */
  --wheat: #F5D5AF;
  --ticklemepink: #FA719E;
  /*  */
  --marigoldyellow: #FBE271;
  --paleoyster: #9B937E;
  /*  */
  --comet: #54576B;
  --grannysmithapple: #A2E7A0;
  /*  */
  --emerald: #5FC276;
  --torchred: #EF042B;
  /*  */
  --jetstream: #BED4D3;
  --burntsienna: #EF7B67;
  /*  */
  --bermudagray: #6C91A7;
  --mandyspink: #F4D3C1;
  /*  */
  --bermudagray: #6C7FA4;
  --junglemist: #B2D1D4;
  /*  */
  --aquamarine: #6cFECB;
  --hopbush: #D15EB8;
  /*  */
  --clamshell: #CAACA6;
  --salem: #0A5544;
  /*  */
  --shuttlegray: #55606F;
  --melanie: #E6C4E1;
  /*  */
  --turquoise: #42E6D0;
  --marzipan: #F8E59C;
  /*  */
  --chambray: #35488F;
  --sulu: #98F770;
  /*  */
  --niagara: #0BB27A;
  --prim: #ECDFEB;
  /*  */
  --blueribbon: #1A3FF8;
  --illusion: #F8B2CC;
  /*  */
  --toreabay: #16398D;
  --brilliantrose: #F7679C;
  /*  */
  --minsk: #413192;
  --tacao: #EEA185;
  /*  */
  --wepeep: #F4CBE1;
  --outerspace: #2E363A;
  /*  */
  --outerspace: #314040;
  --whiskey: #D1A965;
  /*  */
  --electricviolet: #6D0DEB;
  --tanhide: #F58F55;
  /*  */
  --atoll: #0E5D8C;
  --flesh: #FDC7A5;
  /*  */
  --lavenderpink: #FBABC1;
  --governorbay: #3D47B8;
  /*  */
  --poloblue: #97AACF;
  --whiterock: #EEE9DB;
  /*  */
  --submarine: #B2BEC1;
  --alizarincrimson: #E0211A;
  /*  */
}